body {
  font-family: 'Open Sans';
  font-size: 1rem;
  background-image: url('../img/fond-principal.jpg');
  background-size: 100%;
}

/*------------------------
--------- HEADER ---------
------------------------*/

header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1;
  padding: 0 20px;
}

.logo-image {
  width: 90px;
  height: auto;
}

.register-button {
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.register-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*------------------------
---------- MAIN ----------
------------------------*/

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* SEARCH BAR */

.search-bar input[type="text"] {
  font-family: 'Open Sans';
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 25px;
  padding: 1rem 2rem;
  width: 100%;
}

.search-bar input[type="text"]:focus {
  outline-width: 0;
}

/* SCHEDULE BUTTON */

.schedule-btn {
  display: inline-block;
  border: 2px solid black;
  border-radius: 25px;
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.schedule-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* FIND BUTTON */

.find-btn {
  font-family: 'Open Sans';
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 25px;
  padding: 1rem 4rem;
  background-color: black;
  color: white;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.find-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
